<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewDoggyServlet</servlet-name>
        <servlet-class>org.serik.servlets.NewDoggyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMapServlet</servlet-name>
        <servlet-class>org.serik.servlets.ListMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonDogAndToys</servlet-name>
        <servlet-class>org.serik.servlets.PersonDogAndToys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCookieServlet</servlet-name>
        <servlet-class>org.serik.servlets.SetCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewDoggyServlet</servlet-name>
        <url-pattern>/NewDoggyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMapServlet</servlet-name>
        <url-pattern>/ListMapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonDogAndToys</servlet-name>
        <url-pattern>/PersonDogAndToys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCookieServlet</servlet-name>
        <url-pattern>/SetCookieServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>adminemail</param-name>
        <param-value>homer@simpsons.org</param-value>
    </context-param>
</web-app>
